
ion-segment-button{

    background-color: var(--ion-color-dark) !important;
    color: white !important // important es para que sobre escriba cualquier atributo en el html por defecto
}

// inspeccionamos el boton-segmento para ver que clases tiene 
// encontramos segment-button-checked


.segment-button-checked{

    color: var(--ion-color-primary) !important;
}